body{
   background-color: white!important;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   max-width: 1600px;
   max-height: 224px;
    }

.nav.justify-content-center-carrusel{
   background-color: #DE24A8 !important;
   justify-content: space-between!important;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 2%;
   padding-bottom: 2%;
    }
.navbar-brand-carrusel{
   color:white!important;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;

}
.navbar.bg-body-tertiary-category{
    background-color: #63F04A!important;
}
.navbar.bg-body-tertiary-header{
    padding-left: 30px;
    padding-right: 30px;
}
.nav-link.active {
    background-color:#FF69D4!important;
    color:white !important;
    padding-left:20px;
}  
.nav-link{
    background-color:#FF69D4!important;
    color:white !important;
    padding-left:20px;
    border-radius: 0!important;
}
.ul.nav.nav-pills.nav-fill{
    border-radius: 0!important;
}
.nav-pills{
 border-radius: 0 !important;
}
.nav-link-footer{
    padding: 10px !important;
    margin: 30px!important;
    color:rgb(246, 180, 191)!important;
}
.nav-link.active:hover{
    background-color:#63F04A!important;
    color:white!important;
}
.nav-link:hover{
    background-color:#63F04A!important;
    color:white!important;
}
.category{
    color:white;
}
.form-control.me-2{
    background-color: white !important;
}
.container-fluid{
    justify-content:space-evenly!important;
    padding-left: 15%!important;
    padding-right:15%!important ;
}
.form-check-label:before{
    border:solid #DE24A8!important;
    
}
[type="checkbox"]:checked{
    background-color:#DE24A8!important;
    border-color: #DE24A8! important;
}
.form.d-flex{
    margin-left:10px;
}
.btn.btn-outline{
    background-color:#DE24A8 !important;
}
.btn.btn-outliner:hover{
    background-color:#DE24A8!important;
    color:white;
}
.row.row-cols-1.row-cols-md-3.g-4{
    padding-top: 30px;
    padding-bottom: 30px;
}
.card{
    margin-left:20px;
    margin-right: 20px;
}
.cardPast{
    margin-left:20px;
    margin-right: 20px;
}
.cardUpcoming{
    margin-left:20px;
    margin-right: 20px;
}
.card-body{
    background-color: #DE24A8!important;
}
.card-title{
    color:white !important;
    font-weight: bold!important;
    text-align: center;
}
.card-text{
    color:white !important;
    background-color: #DE24A8!important;
}
.card-img-top{
    width: 100px;
    height: 200px;
}
.card-footer{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.details{
    background-color:#63F04A;
    text-decoration: none;
    border-radius: 10px;
    color:white;
    margin-left: 10%;
    padding:5px;
    font-size: 10px;
}
.contact{
    color:#DE24A8;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
}
.form-control{
    border: #63f04a !important;
    background-color:#63f04a!important;
    color:black!important;
}
.btn.btn{
    background-color: #DE24A8;
    color:white;
}
.table.table-striped.table-hover{
    color: black !important;
    padding:25%;
    margin: 4%;
    border-color: #DE24A8;
}
th{
    background-color: #63F04A!important;
    color:black!important;
}
.details-card{
    padding:5%;
    padding-bottom: 20%;
    display:flex;
    justify-content: center;
    background-color: #63F04A;
}
.card-body-details{
    background-color: white!important;
    color:#DE24A8;
    padding: 20px;
}
.card-text-details{
    color:#DE24A8;
}
.nav-social{
    width: 30px;
    height: 30px;
    padding-left: 10px;
    color:#DE24A8!important;
}
.nav-item{
    color:#DE24A8!important;
}
.linkedin{
    color:#DE24A8!important;
    padding-left: 30px;
    text-decoration: none;
} 
footer{
    font-size: 15px;
    padding:20px;
}

